Package: dialtime-server
Version: 0.1.4
Section: misc
Architecture: all
Depends: apache2 (>=2.4), debconf, mysql-server (>=5.5), php-cli (>=5.5.9), php-mysql (>=5.5.9), php-curl(>=5.5.9)
Maintainer: Alexander Mosyagin <fixnim@gmail.com>
Origin: Alexander Mosyagin
Installed-size: XXXXX
Description: Dialtime Server
 Dialtime Server for Target-Call
